<div class="bg-white rounded-lg">
  <% if current_user %>
    <%= render "movies/favorite_button", movie: movie %>
  <% end %>
  <a href="<%= movie_path(movie) %>">
    <div class="p-4">
      <div class="h-48 w-full">
        <%= image_tag(movie.poster_url, class: "h-full w-full rounded-lg object-contain") %>
      </div>
      <hr class="mt-8 border-gray-400">
      <div class="mt-2 flex justify-between items-center">
        <p class="font-semibold text-2xl"><%= movie.title %></p>
      </div>
      <p class="mt-1 font-medium text-lg"><%= movie.release_date.year %></p>
    </div>
  </a>
</div>
